.top-box {
	background:#909090;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
}

.top-grey {
	width: 88%;
	height: auto;
	margin: auto;
	margin-top: 1%;
	padding: 1%;
	position: relative;
}

.mid {
	display: inline-block;
	width:30%;
	height:auto%;
	margin-left: 5%;
	margin-top: 2%;
}

.mid-left-box {
	width:10%;
	height:auto;
	background:#909090;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
	margin-left:8%;
	float:left;
	position: relative;
}

.mid-mid-box {
	width:60%;
	height:auto;
	background:#909090;
	box-shadow:10px 10px 5px black;
	border-radius:10px;
	padding: 1%;
	float:left;
	margin-left:1%;
	position:relative;
}

.mid-right-box {
	width:10%;
	height:auto;
	background:#909090;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
	padding-bottom:10%;
	float:left;
	margin-left:1%;
	position: relative;
}

.bottom-box {
	display:inline-block;
	width:33%;
	height:13%;
	background:#4dff78;
	box-shadow:10px 10px 5px black;
	border-radius:10px;
	float:left;
	margin-left:-13%;
	margin-top:33%;
	position: fixed;
	padding-bottom:5px;
	display:inline-block;
}

#top {
	display: inline-block;
	width: 40%;
	margin-left:1%;
}

#left {
	display: block;
	width: 50%;
	height: auto;
	margin-left:30%;
	margin-bottom:7%;
}

#left-look {
	display:block;
	width:100%;
	height:auto;
}

#middle {
	width: 100%;
	height: auto;
}

#right {
	display: block;
	width: 50%;
	height: auto;
	margin-left:30%;
	margin-bottom:5%;
}

#right-b {
	display: block;
}

.right-brick {
	display:block;
	width:80%;
	height:auto;
	margin-left:10%;
	background-image: url("resources/brick.jpg");
	background-repeat:repeat;
}

#reload {
	display:block;
	width:3%;
	height:auto;
	float:right;
	margin-top:0%;
}

#close {
	display:block;
	width:3%;
	height:auto;
	float:right;
	margin-right:-3%;
	margin-top:7%;
}

#loupe {
	display:block;
	width:22%;
	height:auto;
	float:right;
	margin-top:-1%;
}

#chair {
	width:10%;
	height:43px;
	float: right;
	margin-top:-22%;
	margin-right:57%;
	position:relative;
}

#computer {
	width:120%;
	height:43px;
	float: right;
	margin-top:-22%;
	margin-right:0%;
	position:relative;
}

P {
	font-size:1.2vw;
	font-family:Verdana;
	margin:0;
	margin-top:0%;
	margin-left:1%;
}

DIV P {
	position:fixed;
}

.bold {
	font-size:200%;
	font-weight: normal;
	font-family:"Palatino Linotype";
}

.red {
	text-shadow: 6px 6px 5px red;
}

#blank {
	width:69%;
	display: inline-block;
	margin-top:20%;
	margin-left:-25%;
}

#red-box {
	display:block;
	width:50%;
	margin-left:25%;
	border:5px solid;
	padding:1px;
	color:red;
	border-radius:5px;
}

#repondre {
	width:8%;
	position:fixed;
	margin-top:6.5%;
	margin-left:0.5%;
}
